<!DOCTYPE html>
<html>
	<head>
		<title>game</title>
		<link rel="stylesheet" type="text/css" href="../stylesheet.css"/>
		<style>
			:root {
				--size: 1/<%= gameData.size %>;		/*this is a CSS variable*/
			}
		</style>
	</head>
	<body>
		<div>You are currently viewing gameData for game <%= id %></div>
		
		<p><%= JSON.stringify(gameData); %></p>

		<br>
		PLAYERS:
		<% var playerNames = []; 
		for (var key in gameData.players) { 
			playerNames.push(gameData.players[key].name);
		} %>
		<%= playerNames.join(", "); %>

		
		<br><hr><br>
			
		<div id="map">
			<% var cityCoordinates = {}; %>
			<% var civ_ids = Object.keys(gameData.civilizations); %>

			<!-- we have to create an object of cities that lets us look them up by "x,y" -->
			<% for (i = 0; i < civ_ids.length; i++) { %>
				<% var city_ids = Object.keys(gameData.civilizations[civ_ids[i]].cities); %>
				
				<% for (j = 0; j < city_ids.length; j++) { %>
					<% var x = gameData.civilizations[civ_ids[i]].cities[city_ids[j]].x; %>
					<% var y = gameData.civilizations[civ_ids[i]].cities[city_ids[j]].y; %>
					<% var city_name = gameData.civilizations[civ_ids[i]].cities[city_ids[j]].name; %>
					<% cityCoordinates[x + "," + y] = {id: civ_ids[i] + "_" + city_ids[j], x: x, y: y, name: city_name} %>
				<% } %>
			
			<% } %>


			<!-- now loop through the grid to create the terrain tiles -->
			<% for (y = 0; y < gameData.size; y++) { %>
				
				<div class="row">
					<% for (x = 0; x < gameData.size; x++) { %>
						
						<div id="tile_<%= x %>_<%= y %>" class="tile" terrain="<%= gameData.tiles[x + "," + y].terrain %>">
							
							<!-- check if there's a city with the same coordinates -->
							<% if (typeof cityCoordinates[x + "," + y] !== "undefined") { %>
								<div id="<%= cityCoordinates[x + "," + y].id %>" class="city" title="<%= cityCoordinates[x + "," + y].name %>" x="<%= x %>" y="<%= y %>"></div>
							<% } %>
						
						</div>
					
					<% } %>
				</div>
			
			<% } %>
		</div>

		<br><hr><br>
	</body>
</html>